/* 
Site Name: Auto World.com
Documnet Type: CSS Style Sheet
Coded By Alisha , Hadia , Ayesha */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}


.logodiv {
	padding: 18px;
	float: left;
}

#logo {
	width: 190px;
	height: 37px;
}

#menu .nav-ul {
	margin-left: 28%;
	padding: 27px;
	padding-left: 290px;
	float: none;
	/* text-align: center; */
}

#menu .nav-li {
	display: inline;
	font-size: 17px;
	padding: 12px;
}

#menu .nav-li .nav-a {
	color: black;
	text-decoration: none;
	padding: 4px;
	margin: 0;
}

#menu .nav-li .nav-a:hover {
	color: red;
	text-decoration: none;
	padding: 4.5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.logodiv {
		float: none;
		text-align: center;
	}

	#menu .nav-ul {
		margin-left: 0;
		padding: 0;
		float: none;
		text-align: center;
	}

	#menu .nav-li {
		display: block;
		padding: 12px;
	}

	#menu .nav-li .nav-a {
		padding: 4px;
	}

	#menu .nav-li .nav-a:hover {
		padding: 4.5px;
	}
}

/* home  */



/* ** Main Wrapper **
#main-wrapper {
	width: 900px;
	margin: 10px auto;
	padding: 0px;
} */

/*** Header ***/
/* #header {
	margin: 0px 0px 10px 0px;
	padding: 0px;
} */

/*** Logo ***/

/* .logodiv{
	float: left;
	padding: 18px;
}

#logo {
	width: 190px;
	height: 37px;
	
	margin: 0px;
	
} */

/*** Call Box ***/
/* #call-box {
	background-image: url(../images/call-box.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	width: 290px;
	height: 90px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	float: right;
} */

/* #call-box #call-text {
	width: 220px;
	color: #707070;
	text-align: center;
	font-size: 28px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
} */

/*** Site Navigation Menu ***/
/* #menu { */
/* background-image:url(../images/menu-bg.jpg); */
/* background-repeat:no-repeat; */
/* width:100%; */
/* margin:0px; */

/* } */
/* 
#menu ul {
	/* text-align: center; */
/* list-style: none; */
/* margin-left: 280px;
	padding: 27px;
	float: left; */
/* } */

/* #menu li {
	display: inline;
	font-size: 14px; */
/* color: #707070; */
/* padding: 12px; */
/* margin-left: 10px; */
/* } */

/* #menu li a {
	color: black;
	text-decoration: none;
	padding: 4px;
	margin: 0px;
} */

/* #menu li a:hover {
	
	color: #f60000;
	text-decoration: none;
	padding: 4.5px;
	/* margin: 0px; */
/* } */

/*** Inner Wrapper ***/
/* #inner-wrapper {
	margin: 10px auto;
	padding: 0px;
} */

/*** Featured Gallery ***/
/* #featured-gallery { */
/* background-image: url(../images/gallery-bg.jpg); */
/* background-repeat: no-repeat; */
/* width: 100%; */
/* height: 600px; */
/* float: left; */
/* margin: 0px 9px 0px 0px; */
/* padding: 5px; */
/* } */

/*** Site Search Box ***/

.contenair {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: red !important;
	align-content: center;
	margin: 30px auto;
	width: 75%;
	height: auto;
	align-items: center;
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	/* position: absolute; */
	border: none;
	border-radius: 15px;
	background: #fff;
	overflow: hidden;
	/* max-height: 400px; */
	cursor: pointer;
}

.rm-btn {
	background: linear-gradient(to right, BLACK, rgb(32, 10, 10), rgb(205, 2, 2));
	border: red 2px solid;
	border-radius: 20px;
	color: white;
	padding: 10px;
	margin-bottom: 5px;
}

.imagecontenet {

	width: 50%;
	height: 450px;
	background-image: url(../images/cars/bymodel.png);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.description {
	/* margin: 40px; */
	/* padding: 30px; */
	width: 50%;
	height: 450px;
	text-align: center;
	background: rgb(0, 0, 0);
}

h1 {
	font-size: 1.5rem;
	color: red;
	text-align: center;
}

p {
	text-align: center;
	font-size: 15px;

}

.mailbox input,
.button input {
	border: transparent;
	padding: 10px;
	cursor: pointer;
	border-radius: 50px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	outline: none;
	width: 300px;
}

label {
	font-size: 0.9em;
}

input:hover {
	background-color: rgb(255, 223, 190);
	transition: 0.5s;
}

@media screen and (max-width: 879px) {

	.contenair,
	.contenair2 {
		display: flex;
		flex-direction: column;
		max-height: 600px;

	}
}

#search-box {
	/* background-image: url(../images/search-bg.jpg); */
	/* background-repeat: no-repeat; */
	width: 100%;
	/* height: 300px; */
	/* float: left; */
	/* margin-top: 30px; */
	padding: 5px 10px;
	background-color: #ffffff;

}

#search-box h1 {
	color: #ffffff;
	font-size: 29px;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-weight: 600;
	margin: 20px 0px 20px 0px;
	text-align: center;
}

#search-box h2 {
	color: #ffffff;
	font-size: 19px;
	font-weight: 600;
	margin: 15px 0px 5px 0px;
	text-align: center;
}

/* #search-box form { */
/* margin: 0px;
	padding: 0px; */
/* font-size: 14px; */
/* border: none; */
/* border-bottom: 2px black solid; */
/* margin-left: auto;
	margin-right: auto; */
/* } */

#search-box select {
	/* border-radius: 5px;
	border: 1px rgb(159, 158, 158) solid;
	width: 195px;
	margin: 0px;
	color:rgb(159, 158, 158)  ;
	font-size: 14px;
	margin-left: 29px;
	margin-top: 10px;
	margin-right: auto; */
	border: transparent;
	padding: 10px;
	cursor: pointer;
	border-radius: 50px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	outline: none;
	width: 310px;
}

/* #search-box img {

} */

#search-box select optgroup {
	color: #000000;
}


.bymodel {

	float: left;
	height: 300px;
	width: 400px;
	margin-left: 200px;


}

.byprice {

	float: right;
	height: 300px;
	width: 400px;
	margin-right: 200px;
}

.home-btns a {
	width: 100px;
	padding: 5px;
	color: black;
}

.home-btns {
	background-color: #ffffff;
	margin-top: 20px;
	border: transparent;
	padding: 10px;
	cursor: pointer;
	/* color: black; */
	border-radius: 50px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	outline: none;
	width: 310px;
}

.home-btns:hover {
	color: #ffffff;
	background-color: red;

}

.home-btns a:hover {
	color: black;
	background-color: red;

}

/*** Content Box ***/
#content-box {
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	
}

#content-top {
	background-repeat: no-repeat;
	width: 1490px;
	padding: 5px;
}

#content-box h2 {
	font-size: 18px;
	color: red;
	margin: 0px;
	padding: 5px 0px;
}

#content-box h3 {
	font-size: 16px;
	color: red;
	margin: 0px;
	padding: 0px;
}

#content-box h4 {
	font-size: 14px;
	text-align: center;
	color: #333333;
	margin: 0px;
	padding: 0px;
}

#content-box h4:hover {
	color: white;
}

#content-box h5 {
	font-size: 22px;
	color: red;
	text-align: center;
	margin: 0px;
	padding: 0px 0px;
}

#content-box p {
	margin: 0px;
	padding: 5px 0px;

}

#content-box table#brands {
	margin: 5px auto 0px auto;
}

#content-box table#brands tr td {
	background-color: white;
	border-right: solid 0.1em black;
	border-bottom: solid 0.1em black;
}

#content-box table#brands tr td:hover {
	background-color: black;
	border-right: solid 0.1em #868686;
	border-bottom: solid 0.1em #868686;
}

#content-box .title-bg {
	background-color: red;
	background-repeat: repeat-x;
}

#content-bottom {
	background-repeat: no-repeat;
	height: 5px;
}

/*** Sidebar ***/
#sidebar {
	width: 215px;
	height: 300px;
	float: left;
}

#side-box {
	background-image: url(../images/side-box-bg.jpg);
	background-repeat: repeat-y;
	width: 215px;
	float: left;
	margin: 5px 0px 0px 0px;
}

#side-top {
	background-image: url(../images/side-box-top.jpg);
	background-repeat: no-repeat;
	width: 205px;
	padding: 5px;
}

#side-bottom {
	background-image: url(../images/side-box-botrom.jpg);
	background-repeat: no-repeat;
	width: 215px;
	height: 5px;
}

/*** Brands Box ***/
#brands-box {
	background-image: url(../images/brands-box.jpg);
	background-repeat: no-repeat;
	width: 900px;
	height: 90px;
	margin: 10px auto 0px auto;
	padding: 5px 0px;
}

/*** Bottom Boxes ***/
#boxes {
	margin: 10px auto;
}

.box {
	background-image: url(../images/bottom-box-bg.jpg);
	background-repeat: no-repeat;
	width: 280px;
	height: 240px;
	float: left;
	margin: 0px 15px 0px 0px;
	padding: 5px;
}

.box h1 {
	color: red;
	font-size: 24px;
	font-weight: normal;
	margin: 0px 0px 5px 0px;
}

.box p {
	margin: 0px;
	padding: 4px 0px;
	text-align: justify;
}

.box-thumb {
	width: 270px;
	margin: 0px auto;
}

.read-btn {
	float: right;
}

/* e project footer  */

.footer .container {
	max-width: 1170px;
	margin: auto;
}

.footer .row {
	display: flex;
	flex-wrap: wrap;
}

.footer ul {
	list-style: none;
}

.footer {
	background: linear-gradient(to right, BLACK, rgb(32, 10, 10), rgb(205, 2, 2));
	padding: 70px 0;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	text-align: center;
	position: absolute;
	bottom: -10px;
	background-color: #fff;
	height: 3px;
	border-radius: 50rem;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	color: #fff;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #fff;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	padding: 10px;
	background: linear-gradient(90deg, black, red);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
	transition: all 0.5s ease;
}

.footer-col .social-links-div a:hover {
	color: black;
	background-color: red;
	border: 2px solid black;
}

/* /responsive/ */
@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
		text-align: center;
		padding-bottom: 20px;
		border-bottom: 2px solid #daa200;
	}

	.footer-col ul li a:hover {
		color: #fff;
		padding-left: 0px;
		transform: scale(1.1);
		transition: transform 0.4s;
	}
}

/* end  */

/* site map  */
.iframe-sitemap {
	width: 100%;
	height: 600px;
}

/*** Miscellaneous  Style ***/
.clear {
	clear: both;
}

.nomargin {
	margin: 0px;
}

.topmargin {
	margin-top: 5px;
}

.botommargin {
	margin-bottom: 5px;
}

a {
	color: red;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}

a img {
	border: none;
}


.txt {
	border: solid 1px #000000;
}

select {
	border: solid 1px #000000;
}

select optgroup {
	color: #000000;
	font-style: normal;
}
